
.vs/OurSunday/DesignTimeBuild/.dtbcache.v2
.vs/OurSunday/FileContentIndex/7345c491-42bb-4a90-aabb-16259d7f03f4.vsidx
.vs/OurSunday/FileContentIndex/b8d79593-53a4-4ef8-a012-62f3f5897c23.vsidx
.vs/OurSunday/FileContentIndex/read.lock
.vs/OurSunday/v16/.suo
.vs/OurSunday/v17/.futdcache.v2
.vs/OurSunday/v17/.suo
.vs/ProjectEvaluation/oursunday.metadata.v6.1
.vs/ProjectEvaluation/oursunday.projects.v6.1
obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
obj/Debug/net7.0/OurSunday.AssemblyInfo.cs
obj/Debug/net7.0/OurSunday.AssemblyInfoInputs.cache
obj/Debug/net7.0/OurSunday.assets.cache
obj/Debug/net7.0/OurSunday.csproj.AssemblyReference.cache
obj/Debug/net7.0/OurSunday.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net7.0/OurSunday.GlobalUsings.g.cs
obj/Debug/net7.0/OurSunday.RazorAssemblyInfo.cache
obj/Debug/net7.0/OurSunday.RazorAssemblyInfo.cs
obj/OurSunday.csproj.nuget.dgspec.json
obj/OurSunday.csproj.nuget.g.props
obj/OurSunday.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
.vs/OurSunday/FileContentIndex/f37448b8-fa7d-478b-bad3-f0bb35946fee.vsidx
.vs/OurSunday/FileContentIndex/653d7066-6f2e-4f9a-a682-b4a8ff4cb8a3.vsidx
.vs/OurSunday/FileContentIndex/22e5d52f-0652-4c68-8f87-784ad690b439.vsidx
