bin/
.vs/
obj/
bin/
bin/Debug/net7.0/
bin/Debug/net7.0/OurSunday.dll
/bin
/obj
/.vs
bin/Debug/net7.0/OurSunday.dll
bin/Debug/net7.0/OurSunday.pdb
bin/Debug/net7.0/OurSunday.staticwebassets.runtime.json
Migrations/20230725072251_thumbnailadd.cs
Migrations/20230725072251_thumbnailadd.Designer.cs
Migrations/ApplicationDbContextModelSnapshot.cs
obj/Debug/net7.0/OurSunday.csproj.CoreCompileInputs.cache
obj/Debug/net7.0/OurSunday.dll
obj/Debug/net7.0/OurSunday.pdb
obj/Debug/net7.0/ref/OurSunday.dll
obj/Debug/net7.0/refint/OurSunday.dll
obj/Debug/net7.0/staticwebassets.build.json
obj/Debug/net7.0/staticwebassets.development.json
obj/Debug/net7.0/staticwebassets.pack.json
obj/Debug/net7.0/staticwebassets/msbuild.OurSunday.Microsoft.AspNetCore.StaticWebAssets.props
